<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kgc.springboot2018.hangduo.mapper.ConsultMapper" >
  <resultMap id="BaseResultMap" type="com.kgc.springboot2018.hangduo.pojo.Consult" >
    <id column="zid" property="zid" jdbcType="INTEGER" />
    <result column="zcontent" property="zcontent" jdbcType="VARCHAR" />
    <result column="zphone" property="zphone" jdbcType="VARCHAR" />
    <result column="ztime" property="ztime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    zid, zcontent, zphone, ztime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.kgc.springboot2018.hangduo.pojo.ConsultExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from consult
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from consult
    where zid = #{zid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from consult
    where zid = #{zid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kgc.springboot2018.hangduo.pojo.ConsultExample" >
    delete from consult
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kgc.springboot2018.hangduo.pojo.Consult" >
    insert into consult (zid, zcontent, zphone, 
      ztime)
    values (#{zid,jdbcType=INTEGER}, #{zcontent,jdbcType=VARCHAR}, #{zphone,jdbcType=VARCHAR}, 
      #{ztime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kgc.springboot2018.hangduo.pojo.Consult" >
    insert into consult
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="zid != null" >
        zid,
      </if>
      <if test="zcontent != null" >
        zcontent,
      </if>
      <if test="zphone != null" >
        zphone,
      </if>
      <if test="ztime != null" >
        ztime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="zid != null" >
        #{zid,jdbcType=INTEGER},
      </if>
      <if test="zcontent != null" >
        #{zcontent,jdbcType=VARCHAR},
      </if>
      <if test="zphone != null" >
        #{zphone,jdbcType=VARCHAR},
      </if>
      <if test="ztime != null" >
        #{ztime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kgc.springboot2018.hangduo.pojo.ConsultExample" resultType="java.lang.Integer" >
    select count(*) from consult
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update consult
    <set >
      <if test="record.zid != null" >
        zid = #{record.zid,jdbcType=INTEGER},
      </if>
      <if test="record.zcontent != null" >
        zcontent = #{record.zcontent,jdbcType=VARCHAR},
      </if>
      <if test="record.zphone != null" >
        zphone = #{record.zphone,jdbcType=VARCHAR},
      </if>
      <if test="record.ztime != null" >
        ztime = #{record.ztime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update consult
    set zid = #{record.zid,jdbcType=INTEGER},
      zcontent = #{record.zcontent,jdbcType=VARCHAR},
      zphone = #{record.zphone,jdbcType=VARCHAR},
      ztime = #{record.ztime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kgc.springboot2018.hangduo.pojo.Consult" >
    update consult
    <set >
      <if test="zcontent != null" >
        zcontent = #{zcontent,jdbcType=VARCHAR},
      </if>
      <if test="zphone != null" >
        zphone = #{zphone,jdbcType=VARCHAR},
      </if>
      <if test="ztime != null" >
        ztime = #{ztime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where zid = #{zid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kgc.springboot2018.hangduo.pojo.Consult" >
    update consult
    set zcontent = #{zcontent,jdbcType=VARCHAR},
      zphone = #{zphone,jdbcType=VARCHAR},
      ztime = #{ztime,jdbcType=TIMESTAMP}
    where zid = #{zid,jdbcType=INTEGER}
  </update>
</mapper>