<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span>法规目录列表</span>           <a th:href="@{/doadd}">添加顶级目录</a>
<form action="/select" method="post">
    选择法规<select name="cataName">
    <option th:value="0">请选择</option>
    <option th:selected="${cataName eq c.catalogId}" th:each="c:${catalogs}" th:value="${c.catalogId}" th:text="${c.catalogName}"></option>
</select>
    <input type="submit" value="查询">
</form>
<table border="1px">
    <tr>
        <td style="width: 100px">目录名称</td>
        <td style="width: 50px">排序</td>
        <td style="width: 200px">操作</td>
    </tr>
    <tr th:each="m:${map}">
        <td th:text="${m.key.cname}"></td>
        <td th:text="${m.key.sortpx}"></td>
        <td>
            <a th:href="@{/update(cid=${m.key.cid})}">修改</a>
            <a href="#">删除</a>
            <a th:href="@{/adddown(cid=${m.key.cid})}">添加下级菜单</a>
        </td>
        <table border="1px">
            <tr th:each="v:${m.value}">
                <td th:text="${v.cname}" style="width: 100px"></td>
                <td th:text="${v.sortpx}" style="width: 50px"></td>
                <td style="width: 200px">
                    <a th:href="@{/update(cid=${v.cid})}">修改</a>
                    <a href="#">删除</a>
<!--                    <a href="#">添加下级菜单</a>-->
                </td>
            </tr>
        </table>
    </tr>
</table>
<!--<ul>-->
<!--    <li th:each="m:${map}">-->
<!--        <dl>-->
<!--            <dt th:text="${m.key}"></dt>-->
<!--            <dd th:each="n:${m.value}" th:text="${n.cname}"></dd>-->
<!--        </dl>-->
<!--    </li>-->
<!--</ul>-->
</body>
</html>