<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    li{
        list-style-type: none;
    }
</style>
<body>
<div class="title">
    <span class="biao">航多知识管理系统</span>
    <span class="lie">你好，[[${session.realName}]]</span>
</div>
<div><span>法规列表</span><a th:href="@{/addlaw}">法规添加</a></div>
<form th:action="@{/query}" method="post">
    <span>法规部号：<input type="text" th:value="${lawId}" name="lawId">&ensp;&ensp;
    法规名称：<input type="text" th:value="${lawName}" name="lawName"></span>
    <input type="submit" value="查询">
<div>
    <table border="1px">
        <tr>
            <td>法规部号</td>
            <td>部号别名</td>
            <td>法规版本号</td>
            <td>法规名称</td>
            <td>该法规是否显示</td>
            <td>法规版本说明</td>
            <td>操作</td>
        </tr>
        <tr th:each="li:${list}">
            <td th:text="${li.lawId}">法规部号</td>
            <td th:text="${li.otherName}">部号别名</td>
            <td th:text="${li.lawNum}">法规版本号</td>
            <td th:text="${li.lawName}">法规名称</td>
            <td th:text="${li.isshow}">该法规是否显示</td>
            <td th:text="${li.state}">法规版本说明</td>
            <td><a th:href="@{/update/}+${li.id}">修改</a>
                <a th:href="@{/del(id=${li.id})}">删除</a></td>
        </tr>
    </table>
</div>
</form>
</body>
</html>